<%= form_for(@to_do_list) do |f| %>
 
  <%= errors_for(@to_do_list, 'cant create the List').html_safe %>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :priority %><br />
    <%= f.select :priority, ToDoList::PRIORITY, prompt: "Priority" %>
  </div>

  <div class="actions">
    <%= f.submit%>
  </div>
<% end %>
