<p id="notice"><%= notice %></p>
<h1>Your ToDos : </h1>

<table>
  <tr>
  <th>Name</th>
  <th>Priority</th>
    <th>Actions</th>
  </tr>

<% @to_do_lists.each do |to_do_list| %>
  <tr>
  	<td><%= to_do_list.name %>
  	<td><%= to_do_list.priority %>
    <td><%= link_to 'Show', to_do_list %>
    <%= link_to 'Edit', edit_to_do_list_path(to_do_list) %>
    <%= link_to 'Destroy', to_do_list, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New To do list', new_to_do_list_path %>
